<h1>Course#Finals</h1>
<p>
	<a href="/course/index">Home</a>
	<a href="/course/assignments">Assignments</a>
	<a href="/course/course_notes">Course notes</a>
	<a href="/course/forums">Forums</a>
	<a href="/course/midterms">Midterms</a>
	<a href="/course/video_tutorials">Video tutorials</a>	
	<a href="/course/similar_courses">Similar courses</a>	
</p>

