<h1>Course#Index</h1>
<p>
	<a href="/course/assignments">Assignments</a>
	<a href="/course/course_notes">Course notes</a>
	<a href="/course/finals">Finals</a>
	<a href="/course/forums">Forums</a>
	<%= link_to 'Midterms', midterms_path %>
	<a href="/course/video_tutorials">Video tutorials</a>				
</p>
